In [2]:
import datetime

import numpy as np
import pandas as pd

from disease_mechanistic_functions import *

# Check "blizzard_2_legacy" Function

In [3]:
df = pd.read_excel(
    'sample_weather_data.xlsx',
    engine="openpyxl"
)

df

,ID,time,precipitation,maximum_temperature,minimum_temperature,wind_speed
0,40745,2016-1-1,0.0,19.3,3.4,2.50
1,40745,2016-1-2,7.5,18.4,7.2,4.88
2,40745,2016-1-3,1.7,2.7,2.2,4.12
3,40745,2016-1-4,0.0,8.6,1.0,2.50
4,40745,2016-1-5,0.0,12.8,-0.8,2.00
...,...,...,...,...,...,...
2187,40743,2018-12-27,0.0,16.0,0.2,2.25
2188,40743,2018-12-28,0.0,16.1,2.2,1.38
2189,40743,2018-12-29,0.0,14.2,4.6,1.38
2190,40743,2018-12-30,0.0,14.0,2.0,3.50
2191,40743,2018-12-31,0.0,11.9,1.0,2.88

In [5]:
df = blizzard_2_legacy(
    df=df,
    crop="Corn"
)

df

      locationld      date  precip  maxtemp  mintemp  avgwindspeed   GDU
0          40745  20160101     0.0     19.3      3.4          2.50  10.0
1          40745  20160102     7.5     18.4      7.2          4.88  10.0
2          40745  20160103     1.7      2.7      2.2          4.12  10.0
3          40745  20160104     0.0      8.6      1.0          2.50  10.0
4          40745  20160105     0.0     12.8     -0.8          2.00  10.0
...          ...       ...     ...      ...      ...           ...   ...
2187       40743  20181227     0.0     16.0      0.2          2.25  10.0
2188       40743  20181228     0.0     16.1      2.2          1.38  10.0
2189       40743  20181229     0.0     14.2      4.6          1.38  10.0
2190       40743  20181230     0.0     14.0      2.0          3.50  10.0
2191       40743  20181231     0.0     11.9      1.0          2.88  10.0

[2191 rows x 7 columns]

# Check "calc_rain_score" Function

In [6]:
df = pd.read_excel(
    'sample_weather_data.xlsx',
    engine="openpyxl"
)

df

,ID,time,precipitation,maximum_temperature,minimum_temperature,wind_speed
0,40745,2016-1-1,0.0,19.3,3.4,2.50
1,40745,2016-1-2,7.5,18.4,7.2,4.88
2,40745,2016-1-3,1.7,2.7,2.2,4.12
3,40745,2016-1-4,0.0,8.6,1.0,2.50
4,40745,2016-1-5,0.0,12.8,-0.8,2.00
...,...,...,...,...,...,...
2187,40743,2018-12-27,0.0,16.0,0.2,2.25
2188,40743,2018-12-28,0.0,16.1,2.2,1.38
2189,40743,2018-12-29,0.0,14.2,4.6,1.38
2190,40743,2018-12-30,0.0,14.0,2.0,3.50
2191,40743,2018-12-31,0.0,11.9,1.0,2.88

In [7]:
df = df[df["ID"] == 40745]

precip_boolean_series = df["precipitation"] >= 2

precip_boolean_series

0       False
1        True
2       False
3       False
4       False
        ...
1091    False
1092    False
1093    False
1094    False
1095    False
Name: precipitation, Length: 1096, dtype: bool

In [8]:
rain_score = calc_rain_score(
    day=10,
    one_field_precip_bool=precip_boolean_series    
)

rain_score

2